DATABASE_URL="postgres://postgres:postgres@localhost:5432/photogram?encoding=utf8&pool=5&timeout=5000"
PGHOST="localhost"
PGUSER="postgres"
PGPASSWORD="postgres"
PGDATABASE="postgres"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
