<div>
  <% unless sender == recipient %>
    <% follow_request = sender.sent_follow_requests.find_by(recipient: recipient) %>

    <% if follow_request %>
      <% if follow_request.pending? %>
        <%= button_to follow_request, method: :delete, class: "btn btn-primary rounded-pill icon-link" do %>
          <i class="fa-solid fa-envelope"></i>
          Requested
        <% end %>
      <% elsif follow_request.accepted? %>
        <%= button_to follow_request, method: :delete, class: "btn btn-primary rounded-pill icon-link" do %>
          <i class="fa-solid fa-check"></i>
          Following
        <% end %>
      <% end %>
    <% else %>
      <%= render "follow_requests/form", follow_request: recipient.received_follow_requests.build %>
    <% end %>
  <% end %>
</div>
