<% content_for :title, "Editing follow request" %>

<h1>Editing follow request</h1>

<%= render "form", follow_request: @follow_request %>

<br>

<div>
  <%= link_to "Show this follow request", @follow_request %> |
  <%= link_to "Back to follow requests", follow_requests_path %>
</div>
