<% content_for :title, "New follow request" %>

<h1>New follow request</h1>

<%= render "form", follow_request: @follow_request %>

<br>

<div>
  <%= link_to "Back to follow requests", follow_requests_path %>
</div>
