<% content_for :title, "Discover" %>

<h1>Discover</h1>
<hr>

<div id="photos">
  <ul class="list-group list-group-flush">
    <%= render partial: "photos/photo", collection: @photos, layout: "layouts/list_group" %>
  </ul>
</div>
