<% content_for :title, "Feed" %>

<h1>Feed</h1>
<hr>

<div id="photos">
  <ul id="feed" class="list-group list-group-flush">
    <%= render partial: "photos/photo", collection: @photos, layout: "layouts/list_group" %>
  </ul>
</div>
